<h1> <small>x04:</small> List of struct </h1>

<small>A query can of course produce a more complex result like a list of objects.<br/>Click on the country on the left to see the list of 'highest' cities. </small>

<div class="vspacer40"></div>

<table class="tarpmain">
	<tr>
		<td valign="top" class="leftpane">
			<div id="leftactionpane" hx-post="/htmxapp2/x04/geteucountrylist" hx-trigger="load" >
			</div>
		</td>
		<td valign="top">
			<div id="rightactionpane">
			</div>
		</td>
	</tr>
</table>
