<h1 id="list-of-struct">List of struct</h1>
<h2 id="the-left-pane">The left pane</h2>
<p>The backend code of the left pane is similar to the right pane.</p>
<div class="sourceCode" id="mycode"><pre class="sourceCode html"><code class="sourceCode html">type EuCountry struct {
    Cceu string
    Cc2  string
    Name string
}

func GetEuCountryList() []EuCountry
flag:webservice
<span class="er">&lt;&lt;</span>
    select  cceu, cc2, short_name 
    from    t_eu_country
    where   current_date between eu_entry_date and eu_exit_date
&gt;&gt;
runws {{ dummy=1  }}
apply [[
    <span class="kw">&lt;table&gt;</span>
    {{range .}}
        <span class="kw">&lt;tr&gt;&lt;td&gt;</span>{{.Cceu}}<span class="kw">&lt;/td&gt;</span> 
            <span class="kw">&lt;td</span><span class="ot"> hx-post=</span><span class="st">&quot;/htmxapp2/x03/getcountrycitylist?cc2={{.Cc2}}&quot;</span>
<span class="ot">                hx-target=</span><span class="st">&quot;#rightactionpane&quot;</span><span class="kw">&gt;</span>{{.Name}}<span class="kw">&lt;/td&gt;</span>
        <span class="kw">&lt;/tr&gt;</span>
    {{end}}
    <span class="kw">&lt;/table&gt;</span>
]]
applyerror [[
    <span class="kw">&lt;div</span><span class="ot">  class=</span><span class="st">&quot;err&quot;</span><span class="kw">&gt;</span>  Oh bummer, we got an error: {{ . }} <span class="kw">&lt;/div&gt;</span> 
]] </code></pre></div>
<h2 id="the-right-pane">The right pane</h2>
<div class="sourceCode" id="mycode"><pre class="sourceCode html"><code class="sourceCode html">type City struct {
    Name string
    Latitude string
    Longitude string
    Elevation int64
}

func GetCountryCityList(cc2 string) []City
flag:webservice
<span class="er">&lt;&lt;</span>
    select name, latitude, longitude, elevation
    from t_gn_city
    where country = $1
    order by elevation desc
    limit 25
&gt;&gt;
runws {{ cc2=BE  }}
apply [[
    <span class="kw">&lt;table</span><span class="ot"> class=</span><span class="st">&quot;detail&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;tr&gt;</span> <span class="kw">&lt;th</span><span class="ot"> class=</span><span class="st">&quot;txt&quot;</span><span class="ot"> style=</span><span class="st">&quot;width:50%&quot;</span><span class="kw">&gt;</span>Name<span class="kw">&lt;/th&gt;</span>
         <span class="kw">&lt;th</span><span class="ot"> class=</span><span class="st">&quot;nbr&quot;</span><span class="kw">&gt;</span>Lat<span class="kw">&lt;/th&gt;</span>
         <span class="kw">&lt;th</span><span class="ot"> class=</span><span class="st">&quot;nbr&quot;</span><span class="kw">&gt;</span>Lon<span class="kw">&lt;/th&gt;</span>
         <span class="kw">&lt;th</span><span class="ot"> class=</span><span class="st">&quot;nbr&quot;</span><span class="kw">&gt;</span>Elevation<span class="kw">&lt;/th&gt;</span>
    <span class="kw">&lt;/tr&gt;</span>
    {{range .}}
            <span class="kw">&lt;tr&gt;</span>
                <span class="kw">&lt;td</span><span class="ot"> class=</span><span class="st">&quot;txt&quot;</span><span class="kw">&gt;</span>{{.Name}}<span class="kw">&lt;/td&gt;</span>
                <span class="kw">&lt;td</span><span class="ot"> class=</span><span class="st">&quot;nbr&quot;</span><span class="kw">&gt;</span>{{.Latitude}}<span class="kw">&lt;/td&gt;</span>
                <span class="kw">&lt;td</span><span class="ot"> class=</span><span class="st">&quot;nbr&quot;</span><span class="kw">&gt;</span>{{.Longitude}}<span class="kw">&lt;/td&gt;</span>
                <span class="kw">&lt;td</span><span class="ot"> class=</span><span class="st">&quot;nbr&quot;</span><span class="kw">&gt;</span>{{.Elevation}}<span class="kw">&lt;/td&gt;</span>
            <span class="kw">&lt;/tr&gt;</span>
    {{end}}
    <span class="kw">&lt;/table&gt;</span>
]]
applyerror [[
    <span class="kw">&lt;span</span><span class="ot"> style=</span><span class="st">&quot;color:red&quot;</span><span class="kw">&gt;</span>
    Bummer! Got this error here: &quot;{{ . }}&quot;
    <span class="kw">&lt;/span&gt;</span>
]]</code></pre></div>
