<h1> <small>x08:</small> Population projection chart</h1>

<small>Select up to 5 countries. The buttons are in order of descending population growth. Datasource: product tps00002 of <a href="https://ec.europa.eu/eurostat">ec.europa.eu/eurostat</a> </small> 
<div id="topbuttonpane" hx-post="/htmxapp2/x08/getpopulationprojection" hx-trigger="load" >
</div>



