<h1> <small>x08:</small> Population projection chart</h1>

Section to be expanded. 
<br/>
For now see: 
<li> 
	The amalegeni code (sql/go/html) 
	<a href="https://gitlab.com/wmoco/htmxapp2/-/blob/master/src/htmxapp2/x08/chart-hl.amg"> https://gitlab.com/wmoco/htmxapp2/-/blob/master/src/htmxapp2/x08/chart-hl.amg</a>
</li>
<li> 
	The SVG chart generating code:
	<a href="https://gitlab.com/wmoco/htmxapp2/-/blob/master/src/htmxapp2/x08/chart_svg.go"> https://gitlab.com/wmoco/htmxapp2/-/blob/master/src/htmxapp2/x08/chart_svg.go</a>
</li>

