<h1> <small>x06:</small> Advanced composite </h1>

<small>Click a country on the left, then click on the column header on the right to order by name / latitude / longitude or elevation. </small>

<div class="vspacer20"></div>

<table class="tarpmain">
	<tr>
		<td valign="top" class="leftpane">
			<div class="vspacer40"></div>
			<div id="leftactionpane" hx-post="/htmxapp2/x06/geteucountrylist" hx-trigger="load" >
			</div>
		</td>
		<td valign="top" class="rightpane">
			<div id="rightactionpane"> 
			</div>
		</td>
	</tr>
</table>
