<h1 id="creating-a-composite">Creating a composite</h1>
<h2 id="the-left-pane">The left pane</h2>
<p>See the x04 example.</p>
<h2 id="the-right-pane">The right pane</h2>
<div class="sourceCode" id="mycode"><pre class="sourceCode go"><code class="sourceCode go"><span class="kw">type</span> Composite <span class="kw">struct</span> {
    Cc2 <span class="dt">string</span>
    Title <span class="dt">string</span>
    Orderby <span class="dt">string</span>
    Order <span class="dt">string</span>
    CountryDetail EuCountryDetail
    CityLocationList []CityLocation
}

<span class="kw">func</span> GetCountryCityList(cc2 <span class="dt">string</span>, orderby <span class="dt">string</span>, order <span class="dt">string</span>) Composite
flag:webservice
{{
    _result=Composite{Cc2:cc2, Title:<span class="st">&quot;Elevation&quot;</span>, Orderby:<span class="st">&quot;elevation&quot;</span>, Order:<span class="st">&quot;desc&quot;</span> }
    <span class="kw">if</span> order==<span class="st">&quot;asc&quot;</span> { 
        _result.Order=<span class="st">&quot;asc&quot;</span> 
    }
    <span class="kw">switch</span> orderby { 
    <span class="kw">case</span> <span class="st">&quot;name&quot;</span>:        _result.Orderby=<span class="st">&quot;name&quot;</span> 
    <span class="kw">case</span> <span class="st">&quot;latitude&quot;</span>:    _result.Orderby=<span class="st">&quot;latitude&quot;</span> 
    <span class="kw">case</span> <span class="st">&quot;longitude&quot;</span>:   _result.Orderby=<span class="st">&quot;longitude&quot;</span> 
    <span class="kw">default</span>:            _result.Orderby=<span class="st">&quot;elevation&quot;</span> 
    }
    orderPredicate:=<span class="st">&quot; order by &quot;</span> +  _result.Orderby + <span class="st">&quot; &quot;</span> + _result.Order

    _result.CityLocationList,err=GetCityList(cc2, orderPredicate);
    <span class="kw">if</span> (err!=<span class="ot">nil</span>) {
        <span class="kw">return</span>
    }
    _result.CountryDetail,err=GetEuCountryDetail(cc2);
    <span class="kw">return</span>
}}</code></pre></div>
<div class="sourceCode" id="mycode"><pre class="sourceCode html"><code class="sourceCode html">runws {{
    &#39;cc2=LU<span class="er">&amp;</span>orderby=name<span class="er">&amp;</span>order=desc&#39;
}} 
apply [[
    <span class="kw">&lt;div</span><span class="ot"> style=</span><span class="st">&quot;min-height:80px&quot;</span><span class="kw">&gt;</span> 
       <span class="kw">&lt;center&gt;&lt;h2&gt;</span> {{ .CountryDetail.Shortname }}<span class="kw">&lt;/h2&gt;</span> 
           <span class="kw">&lt;em&gt;</span>{{ .CountryDetail.OfficialNameEn }} <span class="kw">&lt;/em&gt;&lt;br/&gt;</span>
           <span class="kw">&lt;small&gt;&lt;i&gt;</span>Ordered by {{.Orderby }} / {{if eq .Order &quot;desc&quot;}} descending{{else}} ascending{{end}}. <span class="kw">&lt;/i&gt;&lt;/small&gt;&lt;/center&gt;</span>
    <span class="kw">&lt;/div&gt;</span>
    
    <span class="kw">&lt;table</span><span class="ot"> class=</span><span class="st">&quot;detail&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;tr&gt;</span> <span class="kw">&lt;th</span><span class="ot"> class=</span><span class="st">&quot;txt&quot;</span><span class="ot"> style=</span><span class="st">&quot;width:200px&quot;</span><span class="kw">&gt;</span>
                {{ if eq .Orderby &quot;name&quot; }} 
                    {{ if eq .Order &quot;asc&quot; }} 
                    <span class="kw">&lt;a</span><span class="ot"> hx-post=</span><span class="st">&quot;/htmxapp2/x06/getcountrycitylist?cc2={{.Cc2}}</span><span class="er">&amp;</span><span class="st">orderby=name</span><span class="er">&amp;</span><span class="st">order=desc&quot;</span> 
<span class="ot">                            hx-target=</span><span class="st">&quot;#rightactionpane&quot;</span><span class="kw">&gt;</span>
                        <span class="dv">&amp;#x2BC5;</span> Name
                    <span class="kw">&lt;/a&gt;</span>
                    {{ else }} 
                    <span class="kw">&lt;a</span><span class="ot"> hx-post=</span><span class="st">&quot;/htmxapp2/x06/getcountrycitylist?cc2={{.Cc2}}</span><span class="er">&amp;</span><span class="st">orderby=name</span><span class="er">&amp;</span><span class="st">order=asc&quot;</span> 
<span class="ot">                            hx-target=</span><span class="st">&quot;#rightactionpane&quot;</span><span class="kw">&gt;</span>
                        <span class="dv">&amp;#x2BC6;</span> Name
                    <span class="kw">&lt;/a&gt;</span>    
                    {{ end }}
                {{ else }}
                    <span class="kw">&lt;span</span><span class="ot"> hx-post=</span><span class="st">&quot;/htmxapp2/x06/getcountrycitylist?cc2={{.Cc2}}</span><span class="er">&amp;</span><span class="st">orderby=name</span><span class="er">&amp;</span><span class="st">order=desc&quot;</span> 
<span class="ot">                     hx-target=</span><span class="st">&quot;#rightactionpane&quot;</span><span class="ot"> hx-trigger=</span><span class="st">&quot;click&quot;</span><span class="kw">&gt;</span> Name <span class="kw">&lt;/span&gt;</span>
                {{ end }}
         <span class="kw">&lt;/th&gt;</span>
         <span class="kw">&lt;th</span><span class="ot"> class=</span><span class="st">&quot;nbr&quot;</span><span class="kw">&gt;</span>
                {{ if eq .Orderby &quot;latitude&quot; }} 
                    {{ if eq .Order &quot;asc&quot; }} 
                    <span class="kw">&lt;a</span><span class="ot"> hx-post=</span><span class="st">&quot;/htmxapp2/x06/getcountrycitylist?cc2={{.Cc2}}</span><span class="er">&amp;</span><span class="st">orderby=latitude</span><span class="er">&amp;</span><span class="st">order=desc&quot;</span> 
<span class="ot">                            hx-target=</span><span class="st">&quot;#rightactionpane&quot;</span><span class="kw">&gt;</span>
                        <span class="dv">&amp;#x2BC5;</span> Latitude
                    <span class="kw">&lt;/a&gt;</span>
                    {{ else }} 
                    <span class="kw">&lt;a</span><span class="ot"> hx-post=</span><span class="st">&quot;/htmxapp2/x06/getcountrycitylist?cc2={{.Cc2}}</span><span class="er">&amp;</span><span class="st">orderby=latitude</span><span class="er">&amp;</span><span class="st">order=asc&quot;</span> 
<span class="ot">                            hx-target=</span><span class="st">&quot;#rightactionpane&quot;</span><span class="kw">&gt;</span>
                        <span class="dv">&amp;#x2BC6;</span> Latitude
                    <span class="kw">&lt;/a&gt;</span>    
                    {{ end }}
                {{ else }}
                    <span class="kw">&lt;span</span><span class="ot"> hx-post=</span><span class="st">&quot;/htmxapp2/x06/getcountrycitylist?cc2={{.Cc2}}</span><span class="er">&amp;</span><span class="st">orderby=latitude</span><span class="er">&amp;</span><span class="st">order=desc&quot;</span> 
<span class="ot">                     hx-target=</span><span class="st">&quot;#rightactionpane&quot;</span><span class="ot"> hx-trigger=</span><span class="st">&quot;click&quot;</span><span class="kw">&gt;</span> Latitude <span class="kw">&lt;/span&gt;</span>
                {{ end }}
         <span class="kw">&lt;/th&gt;</span>
         <span class="kw">&lt;th</span><span class="ot"> class=</span><span class="st">&quot;nbr&quot;</span><span class="kw">&gt;</span>
                {{ if eq .Orderby &quot;longitude&quot; }} 
                    {{ if eq .Order &quot;asc&quot; }} 
                    <span class="kw">&lt;a</span><span class="ot"> hx-post=</span><span class="st">&quot;/htmxapp2/x06/getcountrycitylist?cc2={{.Cc2}}</span><span class="er">&amp;</span><span class="st">orderby=longitude</span><span class="er">&amp;</span><span class="st">order=desc&quot;</span> 
<span class="ot">                            hx-target=</span><span class="st">&quot;#rightactionpane&quot;</span><span class="kw">&gt;</span>
                        <span class="dv">&amp;#x2BC5;</span> Longitude
                    <span class="kw">&lt;/a&gt;</span>
                    {{ else }} 
                    <span class="kw">&lt;a</span><span class="ot"> hx-post=</span><span class="st">&quot;/htmxapp2/x06/getcountrycitylist?cc2={{.Cc2}}</span><span class="er">&amp;</span><span class="st">orderby=longitude</span><span class="er">&amp;</span><span class="st">order=asc&quot;</span> 
<span class="ot">                            hx-target=</span><span class="st">&quot;#rightactionpane&quot;</span><span class="kw">&gt;</span>
                        <span class="dv">&amp;#x2BC6;</span> Longitude
                    <span class="kw">&lt;/a&gt;</span>    
                    {{ end }}
                {{ else }}
                    <span class="kw">&lt;span</span><span class="ot"> hx-post=</span><span class="st">&quot;/htmxapp2/x06/getcountrycitylist?cc2={{.Cc2}}</span><span class="er">&amp;</span><span class="st">orderby=longitude</span><span class="er">&amp;</span><span class="st">order=desc&quot;</span> 
<span class="ot">                     hx-target=</span><span class="st">&quot;#rightactionpane&quot;</span><span class="ot"> hx-trigger=</span><span class="st">&quot;click&quot;</span><span class="kw">&gt;</span> Longitude <span class="kw">&lt;/span&gt;</span>
                {{ end }}
         <span class="kw">&lt;/th&gt;</span>
         <span class="kw">&lt;th</span><span class="ot"> class=</span><span class="st">&quot;nbr&quot;</span><span class="kw">&gt;</span>
                {{ if eq .Orderby &quot;elevation&quot; }} 
                    {{ if eq .Order &quot;asc&quot; }} 
                    <span class="kw">&lt;a</span><span class="ot"> hx-post=</span><span class="st">&quot;/htmxapp2/x06/getcountrycitylist?cc2={{.Cc2}}</span><span class="er">&amp;</span><span class="st">orderby=elevation</span><span class="er">&amp;</span><span class="st">order=desc&quot;</span> 
<span class="ot">                            hx-target=</span><span class="st">&quot;#rightactionpane&quot;</span><span class="kw">&gt;</span>
                        <span class="dv">&amp;#x2BC5;</span> Elevation
                    <span class="kw">&lt;/a&gt;</span>
                    {{ else }} 
                    <span class="kw">&lt;a</span><span class="ot"> hx-post=</span><span class="st">&quot;/htmxapp2/x06/getcountrycitylist?cc2={{.Cc2}}</span><span class="er">&amp;</span><span class="st">orderby=elevation</span><span class="er">&amp;</span><span class="st">order=asc&quot;</span> 
<span class="ot">                            hx-target=</span><span class="st">&quot;#rightactionpane&quot;</span><span class="kw">&gt;</span>
                        <span class="dv">&amp;#x2BC6;</span> Elevation
                    <span class="kw">&lt;/a&gt;</span>    
                    {{ end }}
                {{ else }}
                    <span class="kw">&lt;span</span><span class="ot"> hx-post=</span><span class="st">&quot;/htmxapp2/x06/getcountrycitylist?cc2={{.Cc2}}</span><span class="er">&amp;</span><span class="st">orderby=elevation</span><span class="er">&amp;</span><span class="st">order=desc&quot;</span> 
<span class="ot">                     hx-target=</span><span class="st">&quot;#rightactionpane&quot;</span><span class="ot"> hx-trigger=</span><span class="st">&quot;click&quot;</span><span class="kw">&gt;</span> Elevation <span class="kw">&lt;/span&gt;</span>
                {{ end }}
         <span class="kw">&lt;/th&gt;</span>
    <span class="kw">&lt;/tr&gt;</span>
    {{range .CityLocationList }} 
            <span class="kw">&lt;tr&gt;</span>
                <span class="kw">&lt;td</span><span class="ot"> class=</span><span class="st">&quot;txt&quot;</span> <span class="kw">&gt;</span>{{.Name}}<span class="kw">&lt;/td&gt;</span> 
                <span class="kw">&lt;td</span><span class="ot"> class=</span><span class="st">&quot;nbr&quot;</span><span class="kw">&gt;</span>{{.Latitude}}<span class="kw">&lt;/td&gt;</span>
                <span class="kw">&lt;td</span><span class="ot"> class=</span><span class="st">&quot;nbr&quot;</span><span class="kw">&gt;</span>{{.Longitude}}<span class="kw">&lt;/td&gt;</span> 
                <span class="kw">&lt;td</span><span class="ot"> class=</span><span class="st">&quot;nbr&quot;</span><span class="kw">&gt;</span>{{.Elevation}}<span class="kw">&lt;/td&gt;</span>
            <span class="kw">&lt;/tr&gt;</span>
    {{end}}
    <span class="kw">&lt;/table&gt;</span>
]]
applyerror [[
    <span class="kw">&lt;span</span><span class="ot"> style=</span><span class="st">&quot;color:red&quot;</span><span class="kw">&gt;</span>
    Bummer! Got this error here: &quot;{{ . }}&quot;
    <span class="kw">&lt;/span&gt;</span>
]]</code></pre></div>
<h2 id="geteucountrydetail">GetEuCountryDetail</h2>
<div class="sourceCode" id="mycode"><pre class="sourceCode go"><code class="sourceCode go"><span class="kw">type</span> EuCountryDetail <span class="kw">struct</span> {
    Id <span class="dt">string</span>
    Shortname <span class="dt">string</span>
    ShortnameEn <span class="dt">string</span>
    OfficialNameEn <span class="dt">string</span>
}


<span class="kw">func</span> GetEuCountryDetail(cc2 <span class="dt">string</span>) EuCountryDetail
&lt;&lt;
    <span class="kw">select</span> cceu, short_name, short_name_en, official_name_en
    from t_eu_country
    where cc2=$<span class="dv">1</span>
&gt;&gt;</code></pre></div>
<h2 id="getcitylist">GetCityList</h2>
<div class="sourceCode" id="mycode"><pre class="sourceCode go"><code class="sourceCode go"><span class="kw">type</span> CityLocation <span class="kw">struct</span> {
    Name <span class="dt">string</span>
    Latitude <span class="dt">string</span>
    Longitude <span class="dt">string</span>
    Elevation <span class="dt">int64</span>
}


<span class="kw">func</span> GetCityList(cc2 <span class="dt">string</span>, order_predicate injection) []CityLocation
&lt;&lt;
     <span class="kw">select</span> name, latitude, longitude, elevation
     from  t_gn_city 
     where country = $<span class="dv">1</span>
     order_predicate
     limit <span class="dv">25</span>
&gt;&gt;</code></pre></div>
