<h1> <small>x02:</small> Query producing a list </h1>

<small>Click on 'hit me'. The query produces a list of strings.</small>

<div class="vspacer40"></div>

<table class="tarpmain">
	<tr>
		<td valign="top" class="leftpane">

			<div id="leftactionpane" hx-post="/htmxapp2/x02/getcc2list" hx-trigger="click" style="border:silver 1px solid">
				<center> Hit me</center>
			</div>
		</td>
		<td valign="top">
			<div id="rightactionpane">
			</div>
		</td>
	</tr>
</table>
