<h1 id="x02query-producing-a-list"><small>x02:</small>Query producing a list</h1>
<p>If you understand the first example, then understanding this is just a small step up.</p>
<p>The gist of it comes down to the query ..</p>
<div class="sourceCode" id="mycode"><pre class="sourceCode sql"><code class="sourceCode sql">    <span class="kw">select</span>  cc2 
    <span class="kw">from</span>    t_eu_country
    <span class="kw">where</span>   <span class="fu">current_date</span> <span class="kw">between</span> eu_entry_date <span class="kw">and</span> eu_exit_date</code></pre></div>
<p>.. and the html template applied to the result ..</p>
<div class="sourceCode" id="mycode"><pre class="sourceCode sql"><code class="sourceCode sql">    {{<span class="kw">range</span> .}}
        {{ . }} <span class="ch">&amp;nbsp</span>;
    {{<span class="kw">end</span>}}</code></pre></div>
<h1 id="source">Source</h1>
<h2 id="frontend">Frontend</h2>
<div class="sourceCode" id="mycode"><pre class="sourceCode html"><code class="sourceCode html">    <span class="kw">&lt;tr&gt;</span>
        <span class="kw">&lt;td</span><span class="ot"> valign=</span><span class="st">&quot;top&quot;</span><span class="ot"> class=</span><span class="st">&quot;leftpane&quot;</span><span class="kw">&gt;</span>

            <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;leftactionpane&quot;</span><span class="ot"> hx-post=</span><span class="st">&quot;/htmxapp2/x02/getcc2list&quot;</span><span class="ot"> hx-trigger=</span><span class="st">&quot;click&quot;</span><span class="ot"> style=</span><span class="st">&quot;border:silver 1px solid&quot;</span><span class="kw">&gt;</span>
                <span class="kw">&lt;center&gt;</span> Hit me<span class="kw">&lt;/center&gt;</span>
            <span class="kw">&lt;/div&gt;</span>
        <span class="kw">&lt;/td&gt;</span>
        <span class="kw">&lt;td</span><span class="ot"> valign=</span><span class="st">&quot;top&quot;</span><span class="kw">&gt;</span>
            <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;rightactionpane&quot;</span><span class="kw">&gt;</span>
            <span class="kw">&lt;/div&gt;</span>
        <span class="kw">&lt;/td&gt;</span>
    <span class="kw">&lt;/tr&gt;</span></code></pre></div>
<h2 id="backend">Backend</h2>
<div class="sourceCode" id="mycode"><pre class="sourceCode sql"><code class="sourceCode sql">func GetCc2List() []string
flag<span class="ch">:webservice</span>
&lt;&lt;
    <span class="kw">select</span>  cc2 
    <span class="kw">from</span>    t_eu_country
    <span class="kw">where</span>   <span class="fu">current_date</span> <span class="kw">between</span> eu_entry_date <span class="kw">and</span> eu_exit_date
&gt;&gt;
runws {{ dummy=<span class="dv">1</span>  }}
apply [[
    {{<span class="kw">range</span> .}}
        {{ . }} <span class="ch">&amp;nbsp</span>;
    {{<span class="kw">end</span>}}
]]
applyerror [[
    &lt;div  class=<span class="ot">&quot;err&quot;</span>&gt;Error: {{ . }} &lt;/div&gt;
]] </code></pre></div>
