<div class="row">
  <div class="col-12">
    <h1> <small>x01:</small> Query producing a single value</h1>
    <small>From the drop-down choose a current EU-member. Or try one that isn't a member. Everytime you change the country, a server-call is made.</small> 
  </div>
</div>
<div class="vspacer100"></div>
<div class="row">
  <div class="col-1">&nbsp;</div>
  <div class="col-5">
    <label for="countries"> Pick an EU country: </label> 
    <select id="countries" name="cceu" hx-post="/htmxapp2/x01/geteucountryname" hx-target="#rightactionpane">
      <option value="">
      <option value="IE">Éire</option>
      <option value="EL">Ελλάδα</option>
      <option value="CY">Κύπρος</option>
      <option value="CZ">Česko</option>
      <option value="BG">България</option>
      <option value="UK">United Kingdom</option>
      <option value="WK">Wakanda</option>
    </select>
  </div>
  <div class="col-5" id="rightactionpane">
  </div>
  <div class="col-1">&nbsp;</div>
</div>

