<h1 id="x01-query-producing-a-single-value"><small>x01:</small> Query producing a single value</h1>
<h2 id="front-end-code">Front end code</h2>
<p>The HTML select component of the front-end looks like this:</p>
<div class="sourceCode" id="mycode"><pre class="sourceCode html"><code class="sourceCode html">        <span class="kw">&lt;select</span><span class="ot"> id=</span><span class="st">&quot;countries&quot;</span><span class="ot"> name=</span><span class="st">&quot;cceu&quot;</span><span class="ot"> hx-post=</span><span class="st">&quot;/htmxapp2/x01/geteucountryname&quot;</span><span class="ot"> hx-target=</span><span class="st">&quot;#rightactionpane&quot;</span><span class="kw">&gt;</span>
          ..
          <span class="kw">&lt;option</span><span class="ot"> value=</span><span class="st">&quot;BE&quot;</span><span class="kw">&gt;</span>Belgique/België<span class="kw">&lt;/option&gt;</span>
          <span class="kw">&lt;option</span><span class="ot"> value=</span><span class="st">&quot;DE&quot;</span><span class="kw">&gt;</span>Deutschland<span class="kw">&lt;/option&gt;</span>
          <span class="kw">&lt;option</span><span class="ot"> value=</span><span class="st">&quot;FR&quot;</span><span class="kw">&gt;</span>France<span class="kw">&lt;/option&gt;</span>
          ..
          ..
        <span class="kw">&lt;/select&gt;</span>   
      <span class="kw">&lt;/div&gt;</span>    
    ..</code></pre></div>
<p>When picking a country from the list, htmx issues a post to <em>/htmxapp2/x01/geteucountryname</em></p>
<h2 id="backend-code">Backend code</h2>
<p>The code that defines that backend-service, basically boils down to this:</p>
<div class="sourceCode" id="mycode"><pre class="sourceCode html"><code class="sourceCode html">func GetEuCountryName(cceu string) string
flag:webservice
<span class="er">&lt;&lt;</span>
    select official_name_en 
    from t_eu_country
    where cceu=$1
&gt;&gt;
apply [[
    <span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;selecttrg&quot;</span><span class="kw">&gt;</span> {{ . }} <span class="kw">&lt;/div&gt;</span> 
]] </code></pre></div>
<p>For clarity a few things have been left out, please see the detailed breakdown, or have a look here: <a href="https://gitlab.com/wmoco/htmxapp2/-/blob/master/src/htmxapp2/x01/single-hl.amg">gitlab.com/../single-hl.amg</a></p>
<h2 id="detail">Detail</h2>
For more detail about the backend read:
<button hx-post="x01/detail.html" hx-target="#tarp">
the detailed breakdown
</button>
