<h1> <small>x05:</small>  Creating a composite </h1>

<small>Type in a city name or part there-of. Note: the search is case-sensitive...</small>

<div class="vspacer20"></div>

<div class="tarpmain">
	<center>
		<h4> Search for cities <span class="htmx-indicator"> <img src="img/bars.svg"/> Searching...  </span> </h4>
		<p>
			<input class="form-control" type="text"  style="min-width:400px"
			   name="namepat" placeholder="Begin Typing To Search Cities..." 
			   hx-post="/htmxapp2/x05/getcitysearch" 
			   hx-trigger="keyup changed delay:500ms" 
			   hx-target="#search-results" 
			   hx-indicator=".htmx-indicator">
		</p>
		<div id="search-results">
		</div>
	</center>
</div>
