<h1 id="x05-creating-a-composite"><small>x05:</small> Creating a composite</h1>
<p>Up to now you've seen primitives being returned: a single value, a map, a list of values or struct. All produced by SQL. When we are talking composites, we bring a middle-man into play: a bit of go code that calls other database querying services to assemble a struct like this one :</p>
<div class="sourceCode" id="mysource"><pre class="sourceCode go"><code class="sourceCode go"><span class="kw">type</span> Composite <span class="kw">struct</span> {
    NumberFound <span class="dt">int</span>
    NumberDisplayed <span class="dt">int</span>
    CityLocationList []CityLocation</code></pre></div>
<p>This is the go code that assembles it.</p>
<div class="sourceCode" id="mysource"><pre class="sourceCode go"><code class="sourceCode go"><span class="kw">func</span> GetCitySearch(namepat <span class="dt">string</span>) Composite
flag:webservice
{{
    _result=Composite{ NumberFound:<span class="dv">0</span>, NumberDisplayed:<span class="dv">0</span> }

    _result.NumberFound,err=CountCity(namepat) 
    <span class="kw">if</span> (err!=<span class="ot">nil</span>) {
        <span class="kw">return</span>
    }
    _result.CityLocationList,err=SearchCity(namepat) 
    <span class="kw">if</span> (err!=<span class="ot">nil</span>) {
        <span class="kw">return</span>
    }
    _result.NumberDisplayed=<span class="bu">len</span>( _result.CityLocationList ) 
    <span class="kw">return</span>
}}</code></pre></div>
<p>Note: in amalegeni if you define a function with double curly braces, the payload is expected to be go-code, if you use double less-then/greater-then 'braces' then the payload is expected to be sql.</p>
<div class="sourceCode" id="mysource"><pre class="sourceCode go"><code class="sourceCode go"><span class="kw">func</span> GetCitySearch(..) 
{{
    ..
    GO CODE
    ..
}}

<span class="kw">func</span> CountCity(namepat <span class="dt">string</span>) <span class="dt">int</span>
&lt;&lt;
     ..
     SQL CODE
     ..
&gt;&gt;</code></pre></div>
<h1 id="source">Source</h1>
<h2 id="frontend">Frontend</h2>
<div class="sourceCode" id="mycode"><pre class="sourceCode html"><code class="sourceCode html">        <span class="kw">&lt;h4&gt;</span> Search for cities <span class="kw">&lt;span</span><span class="ot"> class=</span><span class="st">&quot;htmx-indicator&quot;</span><span class="kw">&gt;</span> <span class="kw">&lt;img</span><span class="ot"> src=</span><span class="st">&quot;img/bars.svg&quot;</span><span class="kw">/&gt;</span> Searching...  <span class="kw">&lt;/span&gt;</span> <span class="kw">&lt;/h4&gt;</span>
        <span class="kw">&lt;p&gt;</span>
            <span class="kw">&lt;input</span><span class="ot"> class=</span><span class="st">&quot;form-control&quot;</span><span class="ot"> type=</span><span class="st">&quot;text&quot;</span><span class="ot">  style=</span><span class="st">&quot;min-width:400px&quot;</span>
<span class="ot">               name=</span><span class="st">&quot;namepat&quot;</span><span class="ot"> placeholder=</span><span class="st">&quot;Begin Typing To Search Cities...&quot;</span> 
<span class="ot">               hx-post=</span><span class="st">&quot;/htmxapp2/x05/getcitysearch&quot;</span> 
<span class="ot">               hx-trigger=</span><span class="st">&quot;keyup changed delay:500ms&quot;</span> 
<span class="ot">               hx-target=</span><span class="st">&quot;#search-results&quot;</span> 
<span class="ot">               hx-indicator=</span><span class="st">&quot;.htmx-indicator&quot;</span><span class="kw">&gt;</span>
        <span class="kw">&lt;/p&gt;</span>
        <span class="kw">&lt;div</span><span class="ot"> id=</span><span class="st">&quot;search-results&quot;</span><span class="kw">&gt;</span>
        <span class="kw">&lt;/div&gt;</span></code></pre></div>
<h2 id="backend">Backend</h2>
<div class="sourceCode" id="mysource"><pre class="sourceCode go"><code class="sourceCode go"><span class="kw">type</span> Composite <span class="kw">struct</span> {
    NumberFound <span class="dt">int</span>
    NumberDisplayed <span class="dt">int</span>
    CityLocationList []CityLocation
}

<span class="kw">type</span> CityLocation <span class="kw">struct</span> {
    Name <span class="dt">string</span>
    Latitude <span class="dt">string</span>
    Longitude <span class="dt">string</span>
    Elevation <span class="dt">int64</span>
    Country <span class="dt">string</span>
    Population <span class="dt">int64</span>
}


<span class="kw">func</span> GetCitySearch(namepat <span class="dt">string</span>) Composite
flag:webservice
{{
    _result=Composite{ NumberFound:<span class="dv">0</span>, NumberDisplayed:<span class="dv">0</span> }

    _result.NumberFound,err=CountCity(namepat) 
    <span class="kw">if</span> (err!=<span class="ot">nil</span>) {
        <span class="kw">return</span>
    }
    _result.CityLocationList,err=SearchCity(namepat) 
    <span class="kw">if</span> (err!=<span class="ot">nil</span>) {
        <span class="kw">return</span>
    }
    _result.NumberDisplayed=<span class="bu">len</span>( _result.CityLocationList ) 
    <span class="kw">return</span>
}}
runws {{ namepat=Amste }} 
apply [[
    {{ <span class="kw">if</span> eq <span class="dv">0</span> .NumberFound }}
    No result. 
    {{ <span class="kw">else</span> }} 
    &lt;center&gt;&lt;small&gt;Displaying {{ .NumberDisplayed }} of {{ .NumberFound }} records found.&lt;/small&gt;&lt;/center&gt; 
    &lt;table class=<span class="st">&quot;detail&quot;</span>&gt;
    &lt;tr&gt; &lt;th class=<span class="st">&quot;txt&quot;</span> style=<span class="st">&quot;width:50%&quot;</span>&gt;Name (cc)&lt;/th&gt;
         &lt;th class=<span class="st">&quot;nbr&quot;</span>&gt;Lat&lt;/th&gt;
         &lt;th class=<span class="st">&quot;nbr&quot;</span>&gt;Lon&lt;/th&gt;
         &lt;th class=<span class="st">&quot;nbr&quot;</span>&gt;Population&lt;/th&gt;
         &lt;th class=<span class="st">&quot;nbr&quot;</span>&gt;Elevation&lt;/th&gt;
    &lt;/tr&gt;
    {{<span class="kw">range</span> .CityLocationList}}
        &lt;tr&gt;
            &lt;td class=<span class="st">&quot;txt&quot;</span> &gt;{{.Name}} ({{.Country}})&lt;/td&gt; 
            &lt;td class=<span class="st">&quot;nbr&quot;</span>&gt;{{.Latitude}}&lt;/td&gt;
            &lt;td class=<span class="st">&quot;nbr&quot;</span>&gt;{{.Longitude}}&lt;/td&gt; 
            &lt;td class=<span class="st">&quot;nbr&quot;</span>&gt;{{.Population}}&lt;/td&gt;
            &lt;td class=<span class="st">&quot;nbr&quot;</span>&gt;{{.Elevation}}&lt;/td&gt;
        &lt;/tr&gt;
    {{end}}
    &lt;/table&gt;
    {{ end }} 
]]
applyerror [[
    &lt;div  class=<span class="st">&quot;err&quot;</span>&gt; Error: {{ . }} &lt;/div&gt; 
]]


<span class="kw">func</span> CountCity(namepat <span class="dt">string</span>) <span class="dt">int</span>
&lt;&lt;
     <span class="kw">select</span> count(<span class="dv">1</span>) 
     from  t_gn_city 
     where name like $<span class="dv">1</span>||<span class="ch">&#39;%&#39;</span>
     limit <span class="dv">25</span>
&gt;&gt;


<span class="kw">func</span> SearchCity(namepat <span class="dt">string</span>) []CityLocation
&lt;&lt;
     <span class="kw">select</span> name, latitude, longitude, elevation, country, population
     from  t_gn_city 
     where name like $<span class="dv">1</span>||<span class="ch">&#39;%&#39;</span>
     order by name
     limit <span class="dv">25</span>
&gt;&gt;</code></pre></div>
