
body { 
    font-family: Arial,Helvetica,sans-serif,Nimbus Sans L;
    font-size:11pt;
}
.menuitem a:link
{ 
    font-weight: normal;
    text-decoration: none;
    color: #000;
}
.menuitem a:visited
{ 
    font-weight: normal;
    text-decoration: none;
    color: #000;
}
.menuitem a:hover, a:active
{ 
    text-decoration: underline;
    color: #111;
}

span.title {
    font-family: Arial,Helvetica,sans-serif,Nimbus Sans L;
    font-size:3em;
    font-weight:bold;
}
span.copyright {
    font-size:0.6em;
}
table.mainstruct {
    width:100%;
}
table.mainstruct td {
    vertical-align:top;    
}
table.mainstruct td.title {
    height:27px;
    background:#ffffff;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;
    height: 4em;
    vertical-align: middle;
}
table.mainstruct td.menublock {
    font-variant:small-caps;
    font-size: 0.9em;
    line-height:120%
    border:none
}


table.mainstruct td.menublock a:link { text-decoration: none; }
table.mainstruct td.menublock a:visited { text-decoration: none; }
table.mainstruct td.menublock a:hover { text-decoration: underline; }
table.mainstruct td.menublock a:active { text-decoration: none; }


div.sourceCode {
    background:#f0f0f0;
}
table.sourceCode {
    font-size: 0.9em;
    line-height:95%
}
pre {
    font-family: "Courier New", Courier, monospace;
    margin-left:20px;
    line-height:120%;
    font-size:11px;
}
pre.cli {   
    margin-left:5px;
    border-left:1px solid silver;
    padding-left:10px;
    font-size:11px;
    line-height:150%;
}

table.mainstruct td.breadcrumb {
    font-variant:small-caps;
    font-size: 0.9em;
    line-height:150%
    font-weight:bold;
}
em { 
    font-weight:bold;
    font-style:normal;
}
h1 { 
    margin-top:0.5em;
}
h2 { 
    margin-top:0.5em;
}
h3 { 
    margin-top:0.5em;
}

div.tagcontainer {
    width:100%;
    background-color: #F2F2F2;
    border-top: 1px solid #C0C0C0;
    margin-top: 4px;
    margin-bottom: 2px;
    padding: 4px;
    height:16px;
    vertical-align:bottom;
}
div.tag { 
    float:left;
    font-weight:normal;
    font-size:1.0em;
}
div.datetag { 
    float:right;
    font-size:0.9em;
}
span.topic { 
    font-variant:small-caps;
    font-size:1.1em;
    font-weight:bold;
}
span.tags { 
    font-variant:small-caps;
    font-size:0.9em;
}
    
div.topiclinks { 
    font-size:1.1em;
}
div.taglinks { 
    background-color: #F9F9F9;
    font-size:0.9em;
}
div.figure { 
    text-align:center;
}
div.betweenentriesspacer { 
    width:100%;
    height:40px;
    border:none;
}
ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.tabs li {
  border: gray solid 1px;
  border-bottom: none;
  float: left;
  margin: 0 .25em 0 0;
  padding: .25em .5em;
}
ul.tabs li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
ul.tabs li.active {
  background: gray;
}
ul.tabs li.active a {
  color: white;
}
article.tabarticle {
  padding: 0 1em;
}
.tabs_clr {
  clear: both;
}
section.block {
  border: solid 0.5px #cccccc;
  padding: 0 1em;
}
article.mutearticle {
  padding: 0 1em;
}
.display_none { 
    display:none;
}

/* syntax highlighting */
div.sourceCode { overflow-x: auto; }
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }
code > span.kw { color: #0000ff; } /* Keyword */
code > span.ch { color: #008080; } /* Char */
code > span.st { color: #008080; } /* String */
code > span.co { color: #008000; } /* Comment */
code > span.ot { color: #ff4000; } /* Other */
code > span.al { color: #ff0000; } /* Alert */
code > span.er { color: #ff0000; font-weight: bold; } /* Error */
code > span.wa { color: #008000; font-weight: bold; } /* Warning */
code > span.cn { } /* Constant */
code > span.sc { color: #008080; } /* SpecialChar */
code > span.vs { color: #008080; } /* VerbatimString */
code > span.ss { color: #008080; } /* SpecialString */
code > span.im { } /* Import */
code > span.va { } /* Variable */
code > span.cf { color: #0000ff; } /* ControlFlow */
code > span.op { } /* Operator */
code > span.bu { } /* BuiltIn */
code > span.ex { } /* Extension */
code > span.pp { color: #ff4000; } /* Preprocessor */
code > span.do { color: #008000; } /* Documentation */
code > span.an { color: #008000; } /* Annotation */
code > span.cv { color: #008000; } /* CommentVar */
code > span.at { } /* Attribute */
code > span.in { color: #008000; } /* Information */


/* -- htmx2 app ---------------------------------------------------------------------- */
table.tabhead {
    width:100%;
	max-width:1000px;
    background:white;
    border-collapse:collapse;
    padding:5px;
	margin:2px 20px 2px 2px;
	border:none;
    /* border:1px solid red;	drop me */
}

table.tabheadinner {
    background:#f3f3f3;
    width:90%;
    border:0px;
    border-collapse:collapse;
    padding:10px 10px 0px 10px;
    margin:20px 10px 0px 20px;
    border-radius:20px 20px 0px 0px;
}
table.tabheadinner td {
    padding:4px;
}

div.tarp { 
    width:95%;
	max-width:1000px;
    background:#fdfdfd;
	min-height:400px;
	border: 1px solid silver;
	margin:2px 20px 2px 2px;
	padding:5px;
	border:none;
    /*border:1px solid red;	/* drop me */
}


table.tarpmain{
    width:99%;
    border:none;
    margin:4px;
}

table.tarpmain td {
    padding:4px;
    margin:0px;
}

table.tarpmain td.leftpane {
    padding:10px 4px 4px 4px;

    width:300px;
    margin:0px;
}
table.tarpmain td.rightpane {
    padding:4px;
    margin:0px;
}


div.vspacer100 { 
	width:5px;
	height:100px;
	border:none;
}
div.vspacer40 { 
	width:5px;
	height:40px;
	border:none;
}
div.vspacer20 { 
	width:5px;
	height:20px;
	border:none;
}

div.title { 
	text-align:center;
	text-size:1.2em;
	font-weight:bold;
	text-decoration-line: underline;
}
div.selecttrg {
    height:100px;
    text-align:center;
    padding:5px;
}
div.selecttrgerr {
    height:100px;
    background:red;
    text-align:center;
    padding:50px;
}




table.detail {
    background:white;
    width:100%;
    border:1px solid black;
    border-collapse:collapse;
}
table.detail th.txt {
    text-align:left;
    margin:2px;
    padding:6px;
    border:1px solid black;
}
table.detail th.nbr {
    text-align:right;
    margin:2px;
    padding:6px;
    border:1px solid black;
}
table.detail td.txt {
    line-height:95%
    border:1px solid black;
    text-align:left;
}
table.detail td.nbr {
    font-size: 0.9em;
    text-align:right;
    border:1px solid black;
    min-width:150px;
}

span.smcp { 
	font-variant: small-caps;
	font-size:0.7em;
	margin:2px 2px 10px 2px;
}
