<h1> <small>x03:</small> Query producing a map</h1>

<small>This query produces a map of string to string.</small>

<div class="vspacer40"></div>
<table class="tarpmain">
	<tr>
		<td valign="top" class="leftpane">
			<div id="leftactionpane" hx-post="/htmxapp2/x03/getccmap" hx-trigger="click" >
				Hit me.
			</div>
		</td>
		<td valign="top">
			<div id="leftactionpane" hx-post="/htmxapp2/x03/getstartdatemap" hx-trigger="click" >
				Hit me too.
			</div>
		</td>
	</tr>
</table>

