<h1 id="x03query-producing-a-map"><small>x03:</small>Query producing a map</h1>
<h2 id="left-pane-getccmap">Left pane: GetCCMap</h2>
<p>The query is similar to previous examples.</p>
<div class="sourceCode" id="mycode"><pre class="sourceCode sql"><code class="sourceCode sql">    <span class="kw">select</span>  cceu, 
            <span class="fu">to_char</span>(schengen_implementation_date,<span class="st">&#39;YYYY-MM-DD&#39;</span>) 
    <span class="kw">from</span>    t_eu_country 
    <span class="kw">where</span>   schengen_implementation_date <span class="kw">is</span> <span class="kw">not</span> <span class="kw">null</span> </code></pre></div>
<p>Sample result:</p>
<div class="sourceCode" id="mycode"><pre class="sourceCode sql"><code class="sourceCode sql"> <span class="kw">key</span> |   <span class="fu">value</span>    
<span class="co">-----+------------</span>
 BE  | <span class="dv">1995-03-26</span>
 DE  | <span class="dv">1995-03-26</span>
 FR  | <span class="dv">1995-03-26</span>
 IT  | <span class="dv">1997-10-26</span>
 LU  | <span class="dv">1995-03-26</span>
..</code></pre></div>
<p>The difference now is the return type of the pseudo-go function: it returns a map of string -&gt; string, or key -&gt; value.</p>
<div class="sourceCode" id="mycode"><pre class="sourceCode go"><code class="sourceCode go"><span class="kw">func</span> GetCCMap() <span class="kw">map</span>[<span class="dt">string</span>]<span class="dt">string</span></code></pre></div>
<p>The first field of the select will be taken as the key, the second the value. Sounds logical, no?</p>
<p>In the HTML template you access the map as follows: <code>{{ .&lt;KEY&gt; }}</code></p>
<div class="sourceCode" id="mycode"><pre class="sourceCode html"><code class="sourceCode html">apply [[
    France implemented Schengen on {{ .FR }}, and Poland did so on {{ .PL  }}. 
]]</code></pre></div>
<h2 id="right-pane-getstartdatemap">Right pane : GetStartDateMap</h2>
<p>The query:</p>
<div class="sourceCode" id="mycode"><pre class="sourceCode sql"><code class="sourceCode sql">    <span class="kw">select</span>  <span class="fu">to_char</span>(schengen_implementation_date,<span class="st">&#39;YYYY-MM-DD&#39;</span>), 
            string_agg(short_name,<span class="st">&#39;, &#39;</span>)   
    <span class="kw">from</span>    t_eu_country 
    <span class="kw">where</span>   schengen_implementation_date <span class="kw">is</span> <span class="kw">not</span> <span class="kw">null</span> 
    <span class="kw">group</span> <span class="kw">by</span> <span class="fu">to_char</span>(schengen_implementation_date,<span class="st">&#39;YYYY-MM-DD&#39;</span>)</code></pre></div>
<p>Sample result:</p>
<div class="sourceCode" id="mycode"><pre class="sourceCode sql"><code class="sourceCode sql"> <span class="kw">key</span>        | <span class="fu">value</span>    
<span class="co">------------+-----------------------------------------------------------------------------------</span>
 <span class="dv">2000-01-01</span> | Ελλάδα
 <span class="dv">1997-10-26</span> | Italia
 <span class="dv">1995-03-26</span> | Belgique/België, Deutschland, France, Luxembourg, Nederland, España, Portugal
 ..</code></pre></div>
<p>In this case the key is composed of more than just alphanumeric characters, so you need to access the map differently in the html template:</p>
<div class="sourceCode" id="mycode"><pre class="sourceCode go"><code class="sourceCode go">{{ index . <span class="st">&quot;&lt;&lt;KEY&gt;&gt;&quot;</span> }}<span class="st">`</span></code></pre></div>
<p>or as demonstrated by the template here:</p>
<div class="sourceCode" id="mycode"><pre class="sourceCode html"><code class="sourceCode html">apply [[
    <span class="kw">&lt;li&gt;</span> the countries that implemented schengen on 2001-03-25 are {{ index . &quot;2001-03-25&quot;}} <span class="kw">&lt;/li&gt;</span>
    <span class="kw">&lt;li&gt;</span> and on 2007-12-21 these countries did so too {{ index . &quot;2007-12-21&quot; }} <span class="kw">&lt;/li&gt;</span>
]]</code></pre></div>
<h1 id="source">Source</h1>
<p>Everything put together:</p>
<div class="sourceCode" id="mycode"><pre class="sourceCode sql"><code class="sourceCode sql">func GetCCMap() map[string]string
flag<span class="ch">:webservice</span>
&lt;&lt;
    <span class="kw">select</span>  cceu, 
            <span class="fu">to_char</span>(schengen_implementation_date,<span class="st">&#39;YYYY-MM-DD&#39;</span>) 
    <span class="kw">from</span>    t_eu_country 
    <span class="kw">where</span>   schengen_implementation_date <span class="kw">is</span> <span class="kw">not</span> <span class="kw">null</span> 
&gt;&gt;
runws {{ dummy=<span class="dv">1</span>  }}
apply [[
    France implemented Schengen <span class="kw">on</span> {{ .FR }}, <span class="kw">and</span> Poland did so <span class="kw">on</span> {{ .PL  }}. 
]]
applyerror [[
    &lt;div  class=<span class="ot">&quot;err&quot;</span>&gt; Error: {{ . }} &lt;/div&gt; 
]] 



func GetStartDateMap() map[string]string
flag<span class="ch">:webservice</span>
&lt;&lt;
    <span class="kw">select</span>  <span class="fu">to_char</span>(schengen_implementation_date,<span class="st">&#39;YYYY-MM-DD&#39;</span>), 
            string_agg(short_name,<span class="st">&#39;, &#39;</span>)   
    <span class="kw">from</span>    t_eu_country 
    <span class="kw">where</span>   schengen_implementation_date <span class="kw">is</span> <span class="kw">not</span> <span class="kw">null</span> 
    <span class="kw">group</span> <span class="kw">by</span> <span class="fu">to_char</span>(schengen_implementation_date,<span class="st">&#39;YYYY-MM-DD&#39;</span>)
&gt;&gt;
runws {{ dummy=<span class="dv">1</span>  }}
apply [[
    &lt;li&gt; <span class="kw">the</span> countries that implemented schengen <span class="kw">on</span> <span class="dv">2001-03-25</span> are {{ <span class="kw">index</span> . <span class="ot">&quot;2001-03-25&quot;</span>}} &lt;/li&gt;
    &lt;li&gt; <span class="kw">and</span> <span class="kw">on</span> <span class="dv">2007-12-21</span> these countries did so too {{ <span class="kw">index</span> . <span class="ot">&quot;2007-12-21&quot;</span> }} &lt;/li&gt;
]]
applyerror [[
    &lt;div  class=<span class="ot">&quot;err&quot;</span>&gt; Error: {{ . }} &lt;/div&gt; 
]] </code></pre></div>
